{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["import", { "libraryName": "antd-mobile-rn" }],
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./myapp"],
        "alias": {
          "assets-json": "./assets/json"
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
