<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>990682412284-r2ig8igsgtgo0ujar6o16sp2jr2jap4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990682412284-r2ig8igsgtgo0ujar6o16sp2jr2jap4v</string>
	<key>API_KEY</key>
	<string>AIzaSyCiwIxGaeH-dWeEFXF3M9xvIYfApmKsmjs</string>
	<key>GCM_SENDER_ID</key>
	<string>990682412284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-6d42b</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-6d42b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990682412284:ios:3c8dc2eafda23045</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-6d42b.firebaseio.com</string>
</dict>
</plist>